validator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="userid" />
                            <xs:element type="xs:string" name="fname" />
                            <xs:element type="xs:string" name="lname" />
                            <xs:element type="xs:string" name="email" />
                            <xs:element type="xs:string" name="password" />
                            <xs:element type="xs:byte" name="age" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>