validator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="userid">
                                <!-- xml restrictions -->
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1" />
                                        <xs:maxInclusive value="10" />
                                    </xs:restriction>
                                </xs:simpleType>
                                <!-- end of restrictions -->
                            </xs:element>
                            <xs:element type="xs:string" name="fname" />
                            <xs:element type="xs:string" name="lname" />
                            <xs:element type="xs:string" name="email" />
                            <xs:element type="xs:string" name="password" />
                            <xs:element type="xs:unsignedShort" name="age" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>